on: [push, pull_request]
name: test
jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
    - name: checkout
      uses: actions/checkout@master
    - name: setup python
      uses: actions/setup-python@master
      with:
        python-version: 3.7
    - name: test
      run: |
        ./test.py > test-actual.txt
        # diff exit code is non-zero if there are differences
        diff -u test-expected.txt test-actual.txt
