/*
All recognized Status values.

Slashed values namespace the status under an org;
any Group tagged to that org can use it by default
(without the slash),
or anyone can use it by referring to the full name.

The `requires` child node lists what metadata keys are required for this Status.

* w3c-ig: Usable by groups tagged as W3C Interest Groups
* w3c-wg: Usable by groups tagged as W3C Working Groups
* w3c-cg: Usable by groups tagged as W3C Community Groups
* w3c-tag: Usable by the W3C TAG

*/

statuses {
    DREAM "A Collection of Interesting Ideas"
    LS "Living Standard"
    LS-COMMIT "Commit Snapshot"
    LS-BRANCH "Branch Snapshot"
    LS-PR "PR Preview"
    LD "Living Document"

    whatwg/RD "Review Draft" {
        requires "Date"
    }

    w3c/DRAFT-FINDING "Draft Finding" {
        w3c-tag
    }
    w3c/FINDING "Finding" {
        w3c-tag
    }
    w3c/ED "Editor's Draft" {
        requires "Level" "ED"
        w3c-ig
        w3c-wg
        w3c-tag
    }
    w3c/WD "W3C Working Draft" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date"
        w3c-wg
    }
    w3c/FPWD "W3C First Public Working Draft" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date"
        w3c-wg
    }
    w3c/LCWD "W3C Last Call Working Draft" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date" "Deadline"
        w3c-wg
    }
    w3c/CR "W3C Candidate Recommendation Snapshot" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date" "Implentation Report"
        w3c-wg
    }
    w3c/CRD "W3C Candidate Recommendation Draft" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date" "Implementation Report" "Deadline"
        w3c-wg
    }
    w3c/PR "W3C Proposed Recommendation" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date" "Implementation Report" "Deadline"
        w3c-wg
    }
    w3c/REC "W3C Recommendation" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date" "Implementation Report" 
        w3c-wg
    }
    w3c/PER "W3C Proposed Edited Recommendation" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date" "Implementation Report" "Deadline"
        w3c-wg
    }
    w3c/NOTE "W3C Note" {
        requires "TR" "Issue Tracking" "Date"
        w3c-ig
        w3c-wg
        w3c-tag
    }
    w3c/NOTE-ED "Editor's Draft" {
        requires "ED"
        w3c-ig
        w3c-wg
        w3c-tag
    }
    w3c/NOTE-WD "W3C Working Draft" {
        requires "ED" "TR" "Issue Tracking" "Date"
        w3c-ig
        w3c-wg
        w3c-tag
    }
    w3c/NOTE-FPWD "W3C First Public Working Draft" {
        requires "ED" "TR" "Issue Tracking" "Date"
        w3c-ig
        w3c-wg
        w3c-tag
    }
    w3c/MO "W3C Member-only Draft" {
        requires "TR" "Issue Tracking" "Date"
    }
    w3c/UD "Unofficial Proposal Draft" {
        requires "ED"
        w3c-ig
        w3c-wg
        w3c-tag
    }
    w3c/CG-DRAFT "Draft Community Group Report" {
        requires "Level" "ED"
        w3c-cg
    }
    w3c/CG-FINAL "Final Community Group Report" {
        requires "Level" "ED" "TR" "Issue Tracking"
        w3c-cg
    }

    tc39/STAGE0 "Stage 0: Strawman"
    tc39/STAGE1 "Stage 1: Proposal"
    tc39/STAGE2 "Stage 2: Draft"
    tc39/STAGE3 "Stage 3: Candidate"
    tc39/STAGE4 "Stage 4: Finished"

    iso/I "Issue"
    iso/DR "Defect Report"
    iso/D "Draft Proposal"
    iso/P "Published Proposal"
    iso/MEET "Meeting Announcements"
    iso/RESP "Records of Response"
    iso/MIN "Minutes"
    iso/ER "Editor's Report"
    iso/SD "Standing Document"
    iso/PWI "Preliminary Work Item"
    iso/NP "New Proposal"
    iso/NWIP "New Work Item Proposal"
    iso/WD "Working Draft"
    iso/CD "Committee Draft"
    iso/FCD "Final Committee Draft"
    iso/DIS "Draft International Standard"
    iso/FDIS "Final Draft International Standard"
    iso/PRF "Proof of a new International Standard"
    iso/IS "International Standard"
    iso/TR "Technical Report"
    iso/DTR "Draft Technical Report"
    iso/TS "Technical Specification"
    iso/DTS "Draft Technical Specification"
    iso/PAS "Publicly Available Specification"
    iso/TTA "Technology Trends Assessment"
    iso/IWA "International Workshop Agreement"
    iso/COR "Technical Corrigendum"
    iso/GUIDE "Guidance to Technical Committees"
    iso/NP-AMD "New Proposal Amendment"
    iso/AWI-AMD "Approved new Work Item Amendment"
    iso/WD-AMD "Working Draft Amendment"
    iso/CD-AMD "Committee Draft Amendment"
    iso/PD-AMD "Proposed Draft Amendment"
    iso/FPD-AMD "Final Proposed Draft Amendment"
    iso/D-AMD "Draft Amendment"
    iso/FD-AMD "Final Draft Amendment"
    iso/PRF-AMD "Proof Amendment"
    iso/AMD "Amendment"

    fido/ED "Editor's Draft"
    fido/WD "Working Draft" {
        requires "ED"
    }
    fido/RD "Review Draft" {
        requires "ED"
    }
    fido/ID "Implementation Draft" {
        requires "ED"
    }
    fido/PS "Proposed Standard" {
        requires "ED"
    }
    fido/FD "Final Document" {
        requires "ED"
    }

    khronos/ED "Editor's Draft"

    aom/PD "Pre-Draft"
    aom/WGD "AOM Working Group Draft"
    aom/WGA "AOM Working Group Approved Draft"
    aom/FD "AOM Final Deliverable"
}