.history
secrets.json
*.egg-info
.idea
*.iml
*.pyc
.python-version
/dist
/build
/bikeshed/spec-data/*
!/bikeshed/spec-data/readonly
/bikeshed/test.bs
/bikeshed/test.html
*.sublime-project
node_modules/
/test-results/
/playwright-report/
/plays
/playwright/.cache/
/env
/docs/*.html
