include README.md
include Bikeshed.tmLanguage
include requirements.txt
include semver.txt
graft docs
graft bikeshed/boilerplate
graft bikeshed/caniuse
graft bikeshed/mdn
graft bikeshed/spec-data
graft bikeshed/wpt