[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bikeshed = {editable = true,path = "."}
aiofiles = "==0.6.0"
aiohttp = "==3.7.4.post0"
attrs = "==20.3.0"
certifi = "==2020.12.5"
cssselect = "==1.1.0"
html5lib = "==1.1"
isodate = "==0.6.0"
json-home-client = "==1.1.1"
lxml = "==4.6.3"
Pillow = "==8.2.0"
Pygments = "==2.8.1"
requests = "==2.25.1"
result = "==0.6.0"
tenacity = "==8.0.1"
widlparser = "==1.0.11"

[requires]
python_version = "3.7"
