[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bikeshed = {editable = true, path = "."}

[packages]
aiofiles = "==23.1.0"
aiohttp = "==3.8.5"
alive-progress = "==3.1.4"
attrs = "==22.1.0"
certifi = "==2023.7.22"
cssselect = "==1.2.0"
html5lib = "==1.1"
isodate = "==0.6.1"
json-home-client = "==1.1.1"
lxml = "==4.9.3"
Pillow = "==10.0.0"
Pygments = "==2.16.1"
requests = "==2.31.0"
result = "==0.13.1"
tenacity = "==8.2.3"
widlparser = "==1.1.3"
setuptools = "*"
kdl-py = "==1.1.6"
