[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bikeshed = {editable = true, path = "."}

[packages]
aiofiles = "==23.1.0"
aiohttp = "==3.8.4"
alive-progress = "==3.0.1"
attrs = "==22.1.0"
certifi = "==2022.12.7"
cssselect = "==1.2.0"
html5lib = "==1.1"
isodate = "==0.6.1"
json-home-client = "==1.1.1"
lxml = "==4.9.2"
Pillow = "==9.5.0"
Pygments = "==2.15.1"
requests = "==2.29.0"
result = "==0.11.0"
tenacity = "==8.2.2"
widlparser = "==1.1.3"
setuptools = "*"
