-i https://pypi.org/simple
about-time==4.2.1
aiofiles==25.1.0
aiohttp==3.13.5
aiosignal==1.4.0
alive-progress==3.3.0
async-timeout==5.0.1
cddlparser==0.6.0
cssselect==1.4.0
html5lib==1.1
isodate==0.7.2
kdl-py==1.2.0
lxml==6.0.4
pillow==12.2.0
pygments==2.20.0
requests==2.33.1
result==0.17.0
setuptools==82.0.1
tenacity==9.1.4
widlparser==1.5.0
