aiofiles==0.6.0
aiohttp==3.7.3
attrs==20.3.0
certifi==2020.12.5
cssselect==1.1.0
html5lib==1.1
isodate==0.6.0
json-home-client==1.1.1
lxml==4.6.2
pygments==2.7.4
requests==2.25.1
result==0.5.0
tenacity==6.3.1
widlparser==1.0.6
