# Editor files
*.sublime-workspace
.vscode/
.idea/

# local config files
*.local.*

# Python output files
*.pyc
__pycache__
.mypy_cache
*.egg-info
build/
dist/

# OS specific files
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
$RECYCLE.BIN/
