/*
This is a KDL document listing all the Org/Group/Status "metadata" values.

An "org" node defines an organization, which can have default boilerplates (overriding the bikeshed defaults) and its own set of Group and Status metadatas.
* Required: a string attribute,
    giving the org name/abbreviation
    (what you write in the Org metadata)
* Required: one or more "group" children
* Required: one or more "status" children

"org" nodes must live at the top level.


A "group" node defines a group in the org, which can have its own boilerplates (overriding the org defaults)
* Required: a string attribute,
    giving the group name/abbreviation
    (what you write in the Group metadata)
* Optional: a "priv-sec" property with a boolean value,
    indicating whether the group requires privacy/security consideration sections.
* Optional: a "type" property with a string value,
    giving an org-specific "type" for the group,
    which can restrict what statuses the group is allowed to use.
    (If omitted, this group can use any status in the org.)
* Optional: a "requires" child node,
    containing string attributes listing metadatas that are required for documents in this group.

"group" nodes can only exist underneath an org.


A "status" node defines a document status, which can also have its own boilerplates (overriding the non-status-specialized version).
* Required: a string attribute,
    giving the status name/abbreviation
    (what you write in the Status metadata)
* Required: a string attribute,
    giving the human-readable status name
    (what's stored in the `[LONGSTATUS]` macro)
* Optional: a "requires" child node,
    identical to the one in "group" nodes
    (the two lists are merged if a doc knows both its Group and Status).
* Optional: a "group-types" child node,
    containing string attributes listing the group types allowed to use this status.
    (If omitted, the status is usable by any group in the org.)

Status nodes can exist underneath an org,
but can also live at the top level,
indicating statuses usable regardless of your org.

Note: casing of the org/group/status shortnames is not relevant;
they're canonically uppercased by Bikeshed,
and any casing can be used in the metadata.
For any other data, casing is preserved.

*/

org "bikeshed" {
    group "test"
    group "byos"
    status "TEST" "Bikeshed Test File"
    status "TEST-2" "Another Status Just For Testing Purposes"
}
org "bikeshed-2" {
    status "TEST" "Another Status Just For Testing Purposes"
}

status "DREAM" "A Collection of Interesting Ideas"
status "LS" "Living Standard"
status "LS-COMMIT" "Commit Snapshot"
status "LS-BRANCH" "Branch Snapshot"
status "LS-PR" "PR Preview"
status "LD" "Living Document"
status "DRAFT-FINDING" "Draft Finding"
status "FINDING" "Finding"

org "whatwg" {
    group "whatwg" priv-sec=false
    status "RD" "Review Draft" {
        requires "Date"
    }
}

org "w3c" {

    /*
    Any group in this org has a secondary default
    for its boilerplate -
    if its personal boilerplate folder is missing a file,
    it will look in the `w3c` folder first,
    before falling back to the global files.
    */

    /*
    Every group in this org must have a `type` attribute,
    containing "wg", "ig", "cg", or "tag";
    this matches with the `group-types` children of the statuses
    (and might have some formatting effects, too).
    If a group should be able to use anything
    (or it's a weirdo one-off that's not worth codifying),
    use `type=null`.
    */

    group "ab" type=null
    group "act-framework" type="wg"
    group "act-rules-format" type="wg"
    group "audiowg" type="wg" priv-sec=true
    group "browser-testing-tools" type="wg"
    group "cssnext" type="cg"
    group "csswg" type="wg" priv-sec=true {
        requires "Work Status"
    }
    group "dap" type="wg" priv-sec=true
    group "fedid" type="wg" priv-sec=true
    group "fedidcg" type="cg"
    group "fxtf" type="wg" priv-sec=true
    group "geolocation" type="wg" priv-sec=true
    group "gpuwg"
    group "houdini" type="wg" priv-sec=true
    group "html" type="wg" priv-sec=true
    group "htmlwg" type="wg"
    group "httpslocal" type="cg"
    group "i18n" type="wg"
    group "immersivewebcg" type="cg"
    group "immersivewebwg" type="wg"
    group "mediacapture" type="wg" priv-sec=true
    group "mediawg" type="wg" priv-sec=true
    group "patcg" type="cg"
    group "patcg-id" type="cg"
    group "ping" type="ig"
    group "pngwg" type="wg"
    group "privacycg" type="cg"
    group "processcg" type="cg"
    group "ricg" type="cg" priv-sec=true
    group "sacg" type="cg"
    group "secondscreencg" type="cg"
    group "secondscreenwg" type="wg"
    group "serviceworkers" type="wg"
    group "solidcg" type="cg"
    group "svg" type="wg" priv-sec=true
    group "tag" type="tag"
    group "texttracks" type="cg" priv-sec=true
    group "uievents" type="wg" priv-sec=true
    group "w3t" type=null
    group "wasm" type="wg"
    group "web-bluetooth-cg" type="cg" priv-sec=true
    group "web-payments" type="wg"
    group "webapps" type="wg"
    group "webappsec" type="wg" priv-sec=true
    group "webauthn" type="wg"
    group "webediting" type="wg"
    group "webfontswg" type="wg" priv-sec=true
    group "webgpu" type="cg"
    group "webml" type="cg"
    group "webmlwg" type="wg"
    group "webperf" type="wg"
    group "webplatform" type="wg" priv-sec=true
    group "webrtc" type="wg"
    group "webspecs" type="wg" priv-sec=true
    group "webtransport" type="wg"
    group "webvr" type="wg"
    group "wecg" type="cg"
    group "wicg" type="cg"
    group "wintercg" type="cg"

    /*
    Every status in w3c needs a `group-types` child,
    with attributes that are any of "ig" "wg" "cg" and/or "tag"
    */

    status "LS" "Living Standard" {
        requires "ED"
        group-types "wg"
    }
    status "ED" "Editor's Draft" {
        requires "Level" "ED"
        group-types "ig" "wg" "tag"
    }
    status "WD" "W3C Working Draft" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date"
        group-types "wg"
    }
    status "FPWD" "W3C First Public Working Draft" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date"
        group-types "wg"
    }
    status "LCWD" "W3C Last Call Working Draft" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date" "Deadline"
        group-types "wg"
    }
    status "CR" "W3C Candidate Recommendation Snapshot" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date" "Implementation Report"
        group-types "wg"
    }
    status "CRD" "W3C Candidate Recommendation Draft" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date" "Implementation Report" "Deadline"
        group-types "wg"
    }
    status "PR" "W3C Proposed Recommendation" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date" "Implementation Report" "Deadline"
        group-types "wg"
    }
    status "REC" "W3C Recommendation" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date" "Implementation Report"
        group-types "wg"
    }
    status "PER" "W3C Proposed Edited Recommendation" {
        requires "Level" "ED" "TR" "Issue Tracking" "Date" "Implementation Report" "Deadline"
        group-types "wg"
    }
    status "WG-NOTE" "W3C Group Note" {
        requires "TR" "Issue Tracking" "Date"
        group-types "wg" "tag"
    }
    status "IG-NOTE" "W3C Group Note" {
        requires "TR" "Issue Tracking" "Date"
        group-types "ig"
    }
    status "NOTE" "W3C Group Note" {
        requires "TR" "Issue Tracking" "Date"
        group-types "wg" "ig" "tag"
    }
    status "NOTE-ED" "Editor's Draft" {
        requires "ED"
        group-types "wg" "ig" "tag"
    }
    status "NOTE-WD" "W3C Working Draft" {
        requires "ED" "TR" "Issue Tracking" "Date"
        group-types "wg" "ig" "tag"
    }
    status "NOTE-FPWD" "W3C First Public Working Draft" {
        requires "ED" "TR" "Issue Tracking" "Date"
        group-types "wg" "ig" "tag"
    }
    status "DRY" "W3C Draft Registry" {
        requires "TR" "Date"
        group-types "wg"
    }
    status "CRYD" "W3C Candidate Registry Draft" {
        requires "TR" "Date"
        group-types "wg"
    }
    status "CRY" "W3C Candidate Registry" {
        requires "TR" "Date"
        group-types "wg"
    }
    status "RY" "W3C Registry" {
        requires "TR" "Date"
        group-types "wg"
    }
    status "MO" "W3C Member-only Draft" {
        requires "TR" "Issue Tracking" "Date"
        group-types "wg"
    }
    status "UD" "Unofficial Proposal Draft" {
        requires "ED"
        group-types "wg" "ig" "tag" "cg"
    }
    status "CG-DRAFT" "Draft Community Group Report" {
        requires "Level" "ED"
        group-types "cg"
    }
    status "CG-FINAL" "Final Community Group Report" {
        requires "Level" "ED" "TR" "Issue Tracking"
        group-types "cg"
    }
    status "DRAFT-FINDING" "Draft Finding" {
        requires "ED"
        group-types "wg" "tag"
    }
    status "FINDING" "Finding" {
        requires "TR"
        group-types "wg" "tag"
    }
}

org "tc39" {
    group "tc39"

    status "STAGE0" "Stage 0: Strawman"
    status "STAGE1" "Stage 1: Proposal"
    status "STAGE2" "Stage 2: Draft"
    status "STAGE3" "Stage 3: Candidate"
    status "STAGE4" "Stage 4: Finished"
}

org "iso" {
    group "wg14"
    group "wg21" {
        requires "Audience"
    }

    status "I" "Issue"
    status "DR" "Defect Report"
    status "D" "Draft Proposal"
    status "P" "Published Proposal"
    status "MEET" "Meeting Announcements"
    status "RESP" "Records of Response"
    status "MIN" "Minutes"
    status "ER" "Editor's Report"
    status "SD" "Standing Document"
    status "PWI" "Preliminary Work Item"
    status "NP" "New Proposal"
    status "NWIP" "New Work Item Proposal"
    status "WD" "Working Draft"
    status "CD" "Committee Draft"
    status "FCD" "Final Committee Draft"
    status "DIS" "Draft International Standard"
    status "FDIS" "Final Draft International Standard"
    status "PRF" "Proof of a new International Standard"
    status "IS" "International Standard"
    status "TR" "Technical Report"
    status "DTR" "Draft Technical Report"
    status "TS" "Technical Specification"
    status "DTS" "Draft Technical Specification"
    status "PAS" "Publicly Available Specification"
    status "TTA" "Technology Trends Assessment"
    status "IWA" "International Workshop Agreement"
    status "COR" "Technical Corrigendum"
    status "GUIDE" "Guidance to Technical Committees"
    status "NP-AMD" "New Proposal Amendment"
    status "AWI-AMD" "Approved new Work Item Amendment"
    status "WD-AMD" "Working Draft Amendment"
    status "CD-AMD" "Committee Draft Amendment"
    status "PD-AMD" "Proposed Draft Amendment"
    status "FPD-AMD" "Final Proposed Draft Amendment"
    status "D-AMD" "Draft Amendment"
    status "FD-AMD" "Final Draft Amendment"
    status "PRF-AMD" "Proof Amendment"
    status "AMD" "Amendment"
}

org "fido" {
    group "fido"

    status "ED" "Editor's Draft"
    status "WD" "Working Draft" {
        requires "ED"
    }
    status "RD" "Review Draft" {
        requires "ED"
    }
    status "ID" "Implementation Draft" {
        requires "ED"
    }
    status "PS" "Proposed Standard" {
        requires "ED"
    }
    status "FD" "Final Document" {
        requires "ED"
    }
}

org "khronos" {
    group "webgl"

    status "ED" "Editor's Draft"
}

org "aom" {
    group "aom"

    status "PD" "Pre-Draft"
    status "WGD" "AOM Working Group Draft"
    status "WGA" "AOM Working Group Approved Draft"
    status "FD" "AOM Final Deliverable"
}
