name: CI

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:

jobs:
  build:
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.7'
          - '3.8'
          - '3.9'
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install --upgrade pip wheel
        pip install --editable .
    - name: Test with bikeshed
      run: bikeshed test

  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
    - uses: psf/black@stable
    - name: Flake8 Annotator
      uses: rbialon/flake8-annotations@v1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pylint
        pip install --editable .
    - name: Lint with flake8
      run: |
        # exit-zero treats all errors as warnings. Line lengths are a fake idea.
        flake8 bikeshed --count --max-line-length=300 --statistics

    - name: Lint with pylint
      run: |
        echo "::add-matcher::.github/workflows/pylint-problem-matcher.json"
        pylint bikeshed
